@model TESTNEXT.Models.Bai_viet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bai_viet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh_Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh_Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoi_Gian_Tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoi_Gian_Tao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Danh_Muc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danh_Muc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
